section.contactLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  padding: 120px 0;

  div {
    display: flex;
    flex-direction: column;
    margin: 0 45px;
  }
}