footer {
  background-color: $tertiary;
  margin-top: 20px;

  h2 {
    padding-left: 16px;
  }

  .footerContentFlex {
    display: flex;
    justify-content: space-around;
    height: 350px;
    padding-top: 75px;
  }

  .stayUpdated {
    padding-left: 150px;

    form {
      display: flex;

      input[type=email] {
        width: 400px;
        border: none;
        background-color: $solidWhite;
        padding-left: 40px;
        outline: 2px ridge rgba(255, 255, 255, 0.1);

      }
    }

    button[type=submit] {
      background-color: $solidWhite;
      cursor: pointer;
      padding: 8px 30px;
    }
  }

  adress {
    color: $secondary;

    span {
      display: block;
    }
  }

  .copyright {
    background-color: $solidBlack;
    text-align: center;
    margin-top: 20px;

    p {
      color: $solidWhite;
      padding: 10px 0;
    }
  }
}