.navbar {
  .navItemFlex {
    display: flex;
    justify-content: center;
    padding-top: 42px;
    text-transform: uppercase;

    li {
      .navLinks {
        color: $secondary;
        padding: 10px 25px;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
        }
      }
    }
  }
}