.navbar {

  i {
    display: none;
    color: $solidBlack;
    @include fontSize(40);
  }

  .navItemFlex {
    display: flex;
    justify-content: center;
    padding-top: 42px;
    text-transform: uppercase;

    li {
      .navLinks {
        color: $secondary;
        padding: 10px 25px;

        &:hover,
        &:focus,
        &:active {
          color: $primary;
        }
      }
    }
  }
}