h1 {
  @include fontSize(146.4);
  line-height: 120px;
  font-weight: 400;
}

h2 {
  @include fontSize(42);
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 6px;
}

p {
  line-height: 29px;
  @include fontSize(20);
  color: $secondary;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.navbar {
  .navItemFlex {
    li {
      .navLinks {
        font-family: $primaryFont;
        line-height: 29px;
        @include fontSize(20);
      }
    }
  }
}

section.contactLinks {
  color: $solidWhite;

  div {
    font-family: $primaryFont;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    @include fontSize(20);

    i {
      padding-bottom: 20px;
      @include fontSize(40);
    }
  }
}