// SITE FONTS
$primaryFont: "'Montserrat', sans-serif";
$secondaryFont: "'Catamaran', sans-serif";

$baseFontSize: 1rem;

// SITE COLOURS

$primary: #E75605;
$secondary: #1F2022;
$tertiary: #f8f9fa;

$solidWhite: #ffffff;
$solidBlack: #000000;